.photoBox{
 text-align: center;
 padding: 0.5rem;
 margin: 0;
}
.photoBox img{
    cursor: pointer;
    /* margin-left: 1rem; */

}
.photoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.2rem;
    border: 2px solid var(--light-olive);
    padding-bottom: 0;
    box-sizing: border-box;
}
.openImage{
    width: 100%;
    height: 300px;
}
